body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0e1117;
  color: white;
}

header {
  padding: 15px;
  text-align: center;
  font-size: 22px;
  background: #111827;
  font-weight: bold;
}

main {
  padding: 15px;
  min-height: 80vh;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #111827;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
}
