/* RESETt */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

/* BODY */
body {
  background: #0b0f1a;
  color: #fff;
  padding-bottom: 70px;
}

/* HEADER */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 16px;
  background: #12182b;
  position: sticky;
  top: 0;
  z-index: 10;
}

/* PAGES */
.page {
  display: none;
  padding: 16px;
}

.page.active {
  display: block;
}

/* CARDS */
.card {
  background: #151c33;
  padding: 14px;
  border-radius: 12px;
  margin-top: 12px;
}

/* INPUT */
input {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  background: #151c33;
  color: white;
  font-size: 16px;
}

/* ERROR */
.error {
  color: #ff6b6b;
  margin-top: 6px;
}

/* ASSET */
.asset-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;
}

.price {
  font-size: 28px;
  margin: 10px 0;
}

/* FAVORITE */
#favBtn {
  background: none;
  border: none;
  font-size: 24px;
  color: #ff6b6b;
  cursor: pointer;
}

/* TIMEFRAMES */
.timeframes {
  display: flex;
  gap: 10px;
  margin: 12px 0;
}

.tf-btn {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #1b2340;
  color: #fff;
}

.tf-btn.active {
  background: #2ee59d;
  color: #000;
}

/* CHART */
canvas {
  width: 100%;
  max-width: 100%;
  margin-top: 12px;
}

/* FAVORITES LIST */
#favoritesList .card {
  cursor: pointer;
}

/* NAV BAR */
.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #12182b;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.nav-btn {
  background: none;
  border: none;
  color: #aaa;
  font-size: 14px;
}

.nav-btn.active {
  color: #2ee59d;
}

/* MOBILE POLISH */
@media (max-width: 480px) {
  .price {
    font-size: 24px;
  }
}